[submodule "lib/Cinder"]
	path = lib/Cinder
	url = https://github.com/cinder/Cinder
[submodule "lib/xtensor"]
	path = lib/xtensor
	url = https://github.com/xtensor-stack/xtensor
	ignore = untracked
[submodule "lib/xtl"]
	path = lib/xtl
	url = https://github.com/xtensor-stack/xtl
	ignore = untracked
